{% extends 'base.html.twig' %}
{% block formulario %}
 <link rel="stylesheet" href="{{ asset('css/formularios.css') }}" />
 <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
 <div class="content-wrapper">
   <div class="container">
     <div class="card card-login mx-auto mt-5">
       <div class="card-header">Formulario</div>
       <div class="card-body">
         {{form(form)}}
       </div>
       </div>
     </div>
   </div>
{% endblock %}
