/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs/dev
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

web/img/fotoUsuario/17ec0dd6444162e2b3794df934cd82d9.png
web/img/fotoUsuario/8957fefe42abe010f42d096ad170c168.png
web/img/fotoUsuario/34423938b84528ff64d5793e64fa4db2.png
web/img/fotoUsuario/79bc1da16745b585ee452005f8b2bd0e.png
