{% extends 'base.html.twig' %}
{% block formulario %}
<link rel="stylesheet" href="{{ asset('css/registro.css') }}" />
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<body>
  <div id="formulario">
    <div class="contenedor">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Actualizar curso</div>
        <div class="card-body">
          {{ form_start(form) }}

          {{ form_widget(form) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
