{% extends 'base.html.twig' %}

{% block historial %}
<br><br><br>
  <div class="content-wrapper">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="text-left">
            <div class="row">
              <div class="col-md-9">
                <h1>Ana Asins</h1><br>
                <img src="{{asset('img/cara.png')}}" alt="Foto del alumno" width="30%"><br>
                <div class="row">
                  <div class="col-md-6"><br>
                    <h5>Nombre:</h5>
                    <h5>Apellidos:</h5>
                    <h5>Fecha de Nacimiento:</h5>
                    <h5>Dni:</h5>
                    <h5>Localidad:</h5>
                    <h5>Código postal:</h5>
                    <h5>Direccion:</h5>
                    <h5>Teléfono de Casa:</h5>
                    <h5>Telefono 2:</h5>
                    <h5>Móvil:</h5>
                    <h5>Nombre padre:</h5>
                    <h5>Apellidos padre:</h5>
                    <h5>Direccion padre:</h5>
                    <h5>Telf. Trabajo padre:</h5>
                    <h5>Movil padre:</h5>
                    <h5>Profesion padre:</h5>
                    <h5>Dni padre:</h5>
                    <h5>Correo padre:</h5>
                    <h5>Nombre madre:</h5>
                    <h5>Apellidos madre:</h5>
                  </div>
                  <div class="col-md-6"><br>
                    <h5>Direccion madre:</h5>
                    <h5>Tlf. Trabajo madre:</h5>
                    <h5>Movil madre:</h5>
                    <h5>Profesion madre:</h5>
                    <h5>Fecha nacimiento madre:</h5>
                    <h5>Dni madre:</h5>
                    <h5>Correo madre:</h5>
                    <h5>Diagnostico:</h5>
                    <h5>Fecha alta:</h5>
                    <h5>Fecha baja:</h5>
                    <h5>Autorizacion imagen:</h5>
                    <h5>Consentimiento tlf:</h5>
                    <h5>Consentimiento tlf numero:</h5>
                    <h5>Observaciones:</h5>
                    <h5>Foto usuario:</h5>
                    <h5>Renovacion servef:</h5>
                    <h5>Centro acedémico anterior:</h5>
                    <h5>Inscripcion Servef:</h5>
                    <h5>Informe Psicopedagógico:</h5>
                    <h5>Documentos matrícula:</h5>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
{% endblock %}
