{% extends 'base.html.twig' %}
{% block nuevoAlumno %}
<br><br><br><br><br>
<link rel="stylesheet" href="css/estiloNuevoAlumno.css">
    <div id="form">
        {{ form_start(form) }}

        {{ form_widget(form.nombre) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
