{% extends 'base.html.twig' %}
{% block historial %}
<br><br><br>
  <div class="content-wrapper">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="text-left">
            <div class="row">
              <div class="col-md-9">

                <h1>{{ profeID.nombre }}</h1><br>
                <br>
                <div class="row">
                  <div class="col-md-6"><br>
                    <h5>Nombre:  {{ profeID.nombre }}</h5>
                    <h5>Apellidos:  {{ profeID.apellidos }}</h5>
                    <br>
                    <img src="{{asset('img/cara.png')}}" alt="Foto del alumno" width="30%">
                  </div>
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
