{% block body %}
	<h1>Devolviendo profesores por el id,recibe parametro y recupera,</h1>
	<table border="1" class="table table-striped table-inverse table-hover">
	<tr>
		<th>Id</th>
		<th>Nombre</th>
		<th>Apellidos</th>
		<th>Foto</th>
	</tr>

	<tr>
		<td>{{ prof.id }}</td>
    	<td>{{ prof.nombre }}</td>
    	<td>{{ prof.apellidos }}</td>
    	<td>{{ prof.foto }}</td>
    </tr>
    </table>
    <a href="/listaprofesores">Volver</a>
{% endblock %}
